*{
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app{
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 30, 30);
}
#results{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
}

.teamName,
.score {
    font-size: 20px;
    padding: 25px;
    text-align: center;
}

.teamName{
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}


#controls{
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.controlsButton{
    color: rgb(120, 30, 30);
    height: 125px;
    width: 125px;
    flex-grow: 1;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    
}
.controlsButton p{
    color: rgb(120, 30, 30);
}
.controlsButton:hover{
    background-color: #ddd;
}
.controlsButton:active{
    background-color: #ccc;
}
.emoji.scissors{
    font-size: 45px;
}
.resultText{
    grid-column: -3 / -1;
    font-size: 20px;
    text-align: center;
    height: 50px;
}

.emoji{
    height: 40%;
    font-size: 40px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: rgb(255, 255, 255);
    
}

header h1{
     color: rgb(120, 30, 30); 
     font-size: 25px;
}

